/* Style de base */
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

body {
    color: #fff;
    margin: 0;
    position: relative;
    background-image: url('../img/image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(20px);
}

header, footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    color: #353535;
    flex-wrap: wrap; /* Permet d'enrouler les éléments pour les petits écrans */
}

header > nav {
    display: flex;
    justify-content: space-between;
}

header > nav > ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

header > nav > ul > li {
    margin: 0 10px;
    font-size: larger;
}

a {
    color: #353535;
    text-decoration: none;
}

a:hover {
    transition: 0.3s;
    color: #15a846;
}

.spacer {
    margin: 1.25em;
}

.sectionTitle {
    text-align: left;
    font-size: 2.5em;
    margin: 1em 0;
    margin-left: 0.5em;
}

main>section:nth-child(even){
    background-color: #ffffff71;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

#presentation > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
}

#presentation > div > * {
    margin-left: 1%;
    margin-right: 1%;
}

#presentation p {
    font-size: 1.5em;
    text-align: justify;
    padding: 1em;
    background-color: #ffffff71;
    border-radius: 10px;
}

#presentation > div > img {
    width: 200%;
    max-width: 400px;
    border-radius: 10%;
        transition: 0.3s;
}

#presentation > div > img:hover {
    transform: scale(1.10);
}

.carousel {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel-track-container {
    background-color: #ffffff71;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 3em;
    align-items: center;
    min-width: 100%;
    text-align: center;
    padding: 10px;
}

.carousel-item img {
    width: 25%; /* Fixe la largeur à 25% de la taille de l'élément parent */
    height: 75%; /* Garde le ratio original de l'image */
    display: block;
    margin: 0 auto;
    object-fit: contain; /* Gère l'adaptation de l'image à son conteneur */
}
.carousel-button{
    top: auto;
    background-color: #ffffff71;
    border: none;
    color: black;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1em;
}

.carousel-indicators button {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.carousel-indicators button.active {
    background-color: black;
    opacity: 1;
}

#soft_skills {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de taille égale */
    grid-template-rows: repeat(2, auto);   /* 2 lignes de hauteur automatique */
    gap: 10px; /* Espace entre les éléments */
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.timeline {
    max-width: 600px;
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #15a81c;
    margin: 0 auto;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    transition: 0.3s;
}

.timeline-item:hover{
    scale: 1.1;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #15a81c;
    border-radius: 50%;
}

.timeline-content {
    margin-left: 30px;
    padding: 10px 15px;
    background-color: #f0f8ff;
    border-radius: 8px;
    color: #333;
}

.timeline-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.timeline-content span {
    display: block;
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

/* Responsive - Tablettes */
@media (max-width: 992px) {
    #presentation > div {
        margin: 0 5em; /* Réduit les marges pour un meilleur affichage */
        flex-direction: column; /* Stacking elements vertically */
        text-align: center;
    }

    #presentation p {
        font-size: 1.2em;
    }
}
