/* Style de base */
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff; /* White background */
}

body {
    color: #2c2c2c;
    margin: 0;
    position: relative;
    background-color: #2c2c2c; /* Anthracite background */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(20px);
}

img {
    transition: 0.3s;
}

img:hover {
    scale: 1.1;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff; /* Anthracite background */
    color: #000000; /* Blue text */
    flex-wrap: wrap; /* Permet d'enrouler les éléments pour les petits écrans */
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff; /* Anthracite background */
    color: #000000; /* Blue text */
    flex-wrap: wrap; /* Permet d'enrouler les éléments pour les petits écrans */
    position: sticky;
}

header>h1>a{
    color: #007bff;
    transition: 0.3s;
}

header>h1>:hover{
    font-size: 1.1em;
    color: #6497ca;
}

header > nav {
    display: flex;
    justify-content: space-between;
}

header > nav > ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

header > nav > ul > li {
    margin: 0 10px;
    font-size: larger;
}

#download-pdf {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-pdf:hover {
    background-color: #0056b3;
}


a {
    text-decoration: none;
    color: #2c2c2c;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    color: #007bff;
}

.spacer {
    margin: 1.25em;
}

main>section:nth-child(even)>.sectionTitle {
    text-align: left;
    font-size: 2.5em;
    color: #007bff; /* Blue text */
}

main>section:nth-child(odd)>.sectionTitle {
    text-align: left;
    font-size: 2.5em;
    margin: 1em 0 1em 0.5em;
    color: #ffffff; /* Blue text */
}

main > section:nth-child(even) {
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
}