/* Style de base */
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff; /* White background */
}

body {
    color: #2c2c2c;
    margin: 0;
    position: relative;
    background-color: #2c2c2c; /* Anthracite background */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(20px);
}

img {
    transition: 0.3s;
}

img:hover {
    scale: 1.05;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff; /* Anthracite background */
    color: #000000; /* Blue text */
    flex-wrap: wrap; /* Permet d'enrouler les éléments pour les petits écrans */
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff; /* Anthracite background */
    color: #000000; /* Blue text */
    flex-wrap: wrap; /* Permet d'enrouler les éléments pour les petits écrans */
    position: sticky;
}

header>h1>a{
    color: #007bff;
    transition: 0.3s;
}

header>h1>:hover{
    font-size: 1.1em;
    color: #6497ca;
}

header > nav {
    display: flex;
    justify-content: space-between;
}

header > nav > ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

header > nav > ul > li {
    margin: 0 10px;
    font-size: larger;
}

#download-pdf {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-pdf:hover {
    background-color: #0056b3;
}


a {
    text-decoration: none;
    color: #2c2c2c;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    color: #007bff;
}

.spacer {
    margin: 1.25em;
}

section {
    margin: 4em auto; /* Centrer les sections et réduire les marges */
    max-width: 75%; /* Limiter la largeur des sections */
    padding: 1em; /* Ajouter du padding pour l'espacement interne */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}

main > section:nth-child(even) {
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    padding-left: 2em;
    padding-right: 2em;
    margin: 2em auto; /* Center the sections */
}

main>section>.sectionTitle {
    margin: 0;
    font-size: 4em;
    text-align: left;
    color: #007bff; /* Blue text */
}

main>section:nth-child(even)>.sectionTitle {
    color: #007bff; /* Blue text */
}

main>section:nth-child(odd)>.sectionTitle {
    color: #ffffff; /* Blue text */
}

#presentation > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#presentation > div > * {
    margin-left: 1%;
    margin-right: 1%;
}

#presentation p {
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1.5em;
    text-align: justify;
    padding: 1em;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    color: #040412; /* Blue text */
}

#presentation > div > img {
    width: 200%;
    max-width: 400px;
    border-radius: 10%;
    transition: 0.3s;
}

.carousel {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the carousel */
    overflow: hidden;
    position: relative;
}

.carousel-track-container {
    border: 0.5em solid #2c2c2c; /* Set the border color and width */
    width: 50%;
    padding: 1em;
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.carousel-track {
    display: flex;
    align-items: center; /* Center the items vertically */
    transition: transform 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-item {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column;
    color: #007bff; /* Blue text */
    font-size: 3em;
    min-width: 100%;
    text-align: center;
}

.carousel-item img {
    width: 15%; /* Fixe la largeur à 25% de la taille de l'élément parent */
    height: 50%; /* Garde le ratio original de l'image */
    display: block;
    margin: 0 auto;
    object-fit: contain; /* Gère l'adaptation de l'image à son conteneur */
}

.carousel img:hover {
    scale: none;
}

.carousel span{
    margin: 0.2em;
}

.carousel-button {
    top: auto;
    background-color: #ffffff; /* White background */
    border: none;
    color: #007bff; /* Blue text */
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1em;
}

.carousel-indicators button {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.carousel-indicators button.active {
    background-color: #007bff; /* Blue text */
    opacity: 1;
}

#soft_skills {
    text-align: center;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 2em;
}

.grid-container img {
    color: white;
    width: 50%;
    max-width: 150px;
    margin: 1em;
    transition: 0.3s;
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    width: 30%;
    color: #007bff; /* Blue text */
}

/* Styling for the section */
#parcours-scolaire {
    font-family: Arial, sans-serif;
    color: #007bff; /* Blue text */
}

/* Timeline container */
.timeline {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}

/* Vertical line in the timeline */
.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 6px; /* Ligne centrale plus épaisse */
    background: #007bff;
    transform: translateX(-50%);
}

/* Individual timeline items */
.timeline-item {
    position: relative;
    margin: 40px 0; /* Increase spacing between items */
    text-align: left;
    display: block; /* Change to block to stack items vertically */
}

/* Position items on the left and right alternately */
.timeline-item:nth-child(odd) .timeline-content {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    flex-direction: column; /* Stack content vertically */
}

.timeline-item:nth-child(even) .timeline-content {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    flex-direction: column; /* Stack content vertically */
}

/* Content box */
.timeline-content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    background: #ffffff; /* White background */
    border: 1px solid #ddd;
    border-radius: 12px; /* Slightly rounded corners */
    padding: 20px 25px; /* Increase box size */
    max-width: 350px; /* Increase max width */
    font-size: 16px; /* Increase font size */
    color: #007bff; /* Blue text */
    transition: 0.3s;
    flex: 1;
}

/* Connecting dot */
.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px; /* Ajustement pour centrer avec la nouvelle taille */
    left: 50%;
    width: 16px; /* Point plus grand */
    height: 16px; /* Point plus grand */
    background: #007bff;
    border: 4px solid #fff; /* Bordure plus épaisse */
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-content img {
    margin-right: 20px; /* Espace entre l'image et le texte */
    max-width: 200px; /* Taille maximale de l'image */
    height: auto; /* Conserve le ratio de l'image */
}

.timeline-content img:hover{
    scale: none;
}

.timeline-content div {
    flex: 1; /* Prend tout l'espace restant */
}

/* Highlight title and dates */
.timeline-content h3 {
    margin: 0 0 10px; /* Espace sous le titre agrandi */
    font-size: 20px; /* Taille du titre augmentée */
    color: black;
}

.timeline-content span {
    font-size: 15px; /* Taille des dates légèrement augmentée */
    color: black;
}

.timeline-content:hover{
    border-color: #007bff;
    border-width: 0.5em;
}

.list {
    max-width: 600px;
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #007bff;
    margin: 0 auto;
}

.list-item {
    position: relative;
    margin: 20px 0;
    transition: 0.3s;
}

.list-item:hover {
    scale: 1.05;
}

.list-item::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #007bff;
    border-radius: 50%;
}

.list-content {
    margin-left: 30px;
    padding: 10px 15px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    color: black;
}

.list-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #007bff; /* Blue text */
}

.list-content span {
    display: block;
    font-size: 0.9em;
    color: black;
    margin-top: 5px;
}

#projets {
    font-family: Arial, sans-serif;
    border-radius: 12px; /* Rounded corners */
    color: white; /* Blue text */
    background-color: #ffffff; /* White background */
}

#projets .liste_projets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projets table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#projets th, #projets td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

#projets td {
    background-color: #f9f9f9; /* Light grey background */
    color: #2c2c2c; /* Dark text */
}

#projets a {
    color: white; /* Blue text */
    text-decoration: none;
    transition: color 0.3s;
    font-size: 2em;
}

#projets th {
    position: relative;
    background-color: #007bff;
    color: #ffffff;
    transition: 0.3s;
}

#projets th a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit; /* Inherit color from th */
    text-decoration: none; /* Remove underline */
    transition: 0.3s;
}

#projets th:hover {
    background-color: #0056b3; /* Dark blue background */
}

#projets th:hover a {
    color: #ffffff; /* White text */
    text-decoration: underline;
}

#projets img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 12px; /* Rounded corners */
    transition: 0.3s;
}

#projets img:hover {
    scale: 1.05;
}

/* Section générale */
#loisirs {
    font-family: Arial, sans-serif;
    color: #007bff; /* Blue text */
}

/* Liste des loisirs */
.div-loisir{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 0;
    margin: 0 auto;
    gap: 3em; /* Espace entre les éléments */
}

/* Éléments de la liste */
.div-loisir>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* White background */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 8px; /* Coins arrondis */
    padding: 1em 2em;
    font-size:2em ;
    color: #007bff; /* Blue text */
    transition: transform 0.2s;
}

.div-loisir>div:hover {
    transform: translateY(-5px); /* Légère élévation */
}

.div-loisir img {
    width: 50%; /* Taille de l'image */
    margin-bottom: 2em; /* Espace sous l'image */
}

.div-loisir img:hover {
    scale: 1.0;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
}

.icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    color: #007bff; /* Blue text */
}

.icons img {
    width: 6em; /* Augmente la largeur des images */
    height: 6em; /* Augmente la hauteur des images */
    margin: 1em;
    object-fit: cover; /* Assure que les images gardent un ratio uniforme */
}

/* Responsive - Tablettes */
@media (max-width: 992px) {
    #presentation > div {
        margin: 0 5em; /* Réduit les marges pour un meilleur affichage */
        flex-direction: column; /* Stacking elements vertically */
        text-align: center;
    }

    #presentation p {
        font-size: 1.2em;
    }

    .timeline, .list {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .timeline-item::before, .list-item::before {
        left: -4px;
        width: 10px;
        height: 10px;
    }

    .timeline-content, .list-content {
        width: calc(100% - 40px);
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .timeline-item:nth-child(odd) .timeline-content,
    .timeline-item:nth-child(even) .timeline-content {
        margin-left: 0;
        margin-right: 0;
    }

    .icons div {
        font-size: 1.5em;
    }

    .icons img {
        width: 4em;
        height: 4em;
    }
}

/* Responsive - Mobiles */
@media (max-width: 576px) {
    header, footer {
        flex-direction: column;
        padding: 10px 0;
    }

    header > nav > ul {
        flex-direction: column;
        align-items: center;
    }

    header > nav > ul > li {
        margin: 5px 0;
    }

    .sectionTitle {
        font-size: 2em;
        text-align: center;
        color: #007bff; /* Blue text */
    }

    .carousel {
        max-width: 100%;
    }

    .carousel-item img {
        width: 50%;
        height: auto;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .icons {
        flex-direction: column;
    }

    .icons div {
        font-size: 1.2em;
    }

    .icons img {
        width: 3em;
        height: 3em;
    }
}